/.vs
/.vscode
/build
/ipch
/out
/vcpkg_installed
Debug
Release
CMakeUserPresets.json
Thumbs.db
HRTImagingToolResource.cpp
HRTImagingToolResource.h
!*/Resource.h
*.sdf
*.user
*.aps
*.bak
*.pb.cc
*.pb.h
*.gpd
*.gpc
*.diagsession
*.pdb
.gitlab-ci-local
